<meta charset="UTF-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="mainPage.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="Monday.css">
<title>Program OSA</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <img id= "osaImg" src="https://scontent.fopo1-1.fna.fbcdn.net/v/t1.0-9/29343324_176862949785077_7158530362858012672_o.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=QaM3Sxl6gwEAX_MWMWs&_nc_ht=scontent.fopo1-1.fna&oh=e0ff02c09754c81437d267e221fecde4&oe=5F7E12A0">
    <p id= "fontNavBar" >PROGRAM OSA</p>
</nav>

<div  class = "container">
<table style="text-align: center;" id= "workouTableTH" class="table table-bordered">   
    <thead>        
      <tr>
        <th scope="col">#</th>
        <th scope="col">Skill</th>
        <th scope="col">Strength</th>
        <th scope="col">Front Squat</th>
        <th scope="col">Wod</th>
      </tr>
    </thead> 
    <tbody id="table-body"></tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous">
</script>
</body>
</html>